body{
    background: black;
}
#landing{
    height: 100vh;
    background: url("./images/dehr.gif"); /*FOR THE RECORD I MADE THIS GIF*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    color: goldenrod;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(224, 221, 216,.9);
}
#mainText{
    margin-top: 30vh;
}

h1, h3, p{

    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color:rgba(224, 221, 216,.9);

}

#work{
    background: black;
}

#name,#email,#message{
    color:rgba(224, 221, 216,.9);
}

.nav-wrapper{
    background-color: black;
}


.btn-small{
    background-color: black;
    letter-spacing: -0.5px;
    border: solid 1px rgba(220,220,220,.6);
    margin-bottom: 5px;
}
.btn-small:hover {
    background-color: goldenrod;
    color: black;
}

.card{
    background: rgba(0,0,0,.6);
    border-radius: 10%;
}
.card-image{
    max-height: 300px;
}

.footer-copyright{
    text-align: center;
    background-color: black;
}

#intro{
    background-image: url("./images/deus-exblackbg.jpg");
    color:rgba(224, 221, 216,.9);
    height: fit-content;
    position: relative;
    overflow: scroll;
    height: 500px;
}




.responsive-img{
    width: 30%;
    align-content: center;
}

.parallax-container{
    background-color: black;
    color:rgba(224, 221, 216,.9);
    text-align: center;
    border-bottom: solid 1px rgba(224, 221, 216,.3) ;
    margin-top: 5%;
   padding-bottom: -2%;
}


img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}



.contactCont, contact-wrap{
    text-align: center;
    height: fit-content;
    position: relative;
    box-sizing: inherit;
    margin-top: 1em;
    margin-bottom: 1em;
}


