#landing{
    height: 100vh;
    background: url("./images/deusexbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    color: goldenrod;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(224, 221, 216,.9);
}
#mainText{
    margin-top: 30vh;
}

h1, h3{

    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color:rgba(224, 221, 216,.9);

}

.nav-wrapper{
    background-color: black;
}


.btn-small{
    background-color: black;
    letter-spacing: -0.5px;
}
.btn-small:hover {
    background-color: goldenrod;
    color: black;
}

.card{
    background: rgba(0,0,0,.6);
    border-radius: 10%;
}
.card-image{
    max-height: 300px;
}

.footer-copyright{
    text-align: center;
    background-color: black;
}