body{
    background: url("./images/deusexbg.jpg");
    background-size: 100%;
    color: goldenrod;
    font-family: 'Josefin Sans', sans-serif;

}
.card{
    background: rgba(0,0,0,.6);
}

.card-image{
    max-height: 300px;

}
.container{
    background: url("./images/deus-exblackbg.jpg");
}